/* .gold {
  color: var(--highlight-clr);
}
.star {
  font-size: 13px;
  margin: 0 auto;
}
.movie {
  position: relative;
  width: fit-content;
  background-color: var(--secondary-clr);
  margin-bottom: 2rem;
  height: ;
}

.movie > figure > img {
  width: 10rem;
  height: 15rem;
}

#details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.rating {
  display: flex;
  gap: 4px;
  align-items: center;
}

